In [7]:
# Average departure delay

# For each airline per airport, what is the average departure delay?

# AIRLINE
# ORIGIN AIRPORT
# Total number of flight
# Operated rate (% of flights that did not cancel)
# Delay rate (departure) --> exclude cancelled flight
# Average delay minutes (departure) --> exclude non-delay flight

import pandas as pd
import numpy as np

df_airports = pd.read_csv('./airports.csv')
df_airlines = pd.read_csv('./airlines.csv')
df_flights = pd.read_csv('./flights.csv')

# Prepare needed columns
# 1. operated_flight --> CANCELLED == 0
# 2. delayed flight --> DEPARTURE_DELAY > 0
# 3. delayed_minutes --> DEPARTURE_DELAY when DEPARTURE_DELAY > 0
df_flights['OPERATED'] = df_flights['CANCELLED'].apply(lambda x: 1 if x == 0 else 0)
df_flights['DELAYED'] = df_flights['DEPARTURE_DELAY'].apply(lambda x: 1 if x > 0 else 0)
df_flights['DELAYED_MINUTES'] = df_flights['DEPARTURE_DELAY'].apply(lambda x: x if x > 0 else 0)

# group by
df_report = df_flights.groupby(['AIRLINE', 'ORIGIN_AIRPORT']).agg({
  'FLIGHT_NUMBER': 'count',
  'OPERATED': 'sum',
  'DELAYED': 'sum',
  'DELAYED_MINUTES': 'sum'
  })

# Calculate Avg
df_report['OPERATED_RATE'] = df_report['OPERATED'] / df_report['FLIGHT_NUMBER']
df_report['DELAYED_RATE'] =  df_report['DELAYED'] / df_report['OPERATED']
df_report['AVG_DELAYED_MINUTES'] = df_report['DELAYED_MINUTES'] / df_report ['DELAYED']

# clean up the columns
df_report = df_report.drop(columns=['OPERATED', 'DELAYED', 'DELAYED_MINUTES'])
df_report = df_report.rename(columns={'FLIGHT_NUMBER': 'TOTAL_FLIGHT_COUNT'})
df_report

# reset everything to columns
df_output = df_report.reset_index()
df_output

/var/folders/1v/6y1hxnk974jd3n1dvc40c41h0000gn/T/ipykernel_74097/292232478.py:17: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_flights = pd.read_csv('./flights.csv')

,AIRLINE,ORIGIN_AIRPORT,TOTAL_FLIGHT_COUNT,OPERATED_RATE,DELAYED_RATE,AVG_DELAYED_MINUTES
0,AA,10140,174,0.977011,0.252941,43.209302
1,AA,10257,80,1.000000,0.212500,27.764706
2,AA,10299,32,1.000000,0.250000,8.125000
3,AA,10397,917,0.992366,0.262637,22.991632
4,AA,10423,786,0.980916,0.230869,42.050562
...,...,...,...,...,...,...
3432,WN,SNA,17197,0.991278,0.475450,20.307465
3433,WN,STL,27753,0.988902,0.447659,28.778121
3434,WN,TPA,25888,0.991077,0.406517,30.291083
3435,WN,TUL,4098,0.992435,0.379641,30.478627
3436,WN,TUS,4201,0.995239,0.354939,27.552561